/*
Author: Yuning Gao		
Project: Martial Arts Alliance
Course: CS 195 WEB DESIGN
Date: 02/26/2020 - 
*/

/*==================================== MOBILE styles =============================*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body {
	font-family: 'Delius', Arial, sans-serif;
	font-size: 1em;

	background-attachment: fixed;
	/*background-image: url(photos/maa-joint-wb-2019-320-27k.jpg);*/
	background-color: #E2DDD2;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}

/* colors */
.black {background-color:rgba(0,0,0,0.85); color:white;}
.white {background-color:rgba(255,255,255,0.85); color:black;}
.navy-blue {
	color: #393C91;
	color: rgba(57, 60, 145, 1);
	color: hsla(237, 43%, 39%, 1);
}
.beaver {
	color: #D73F09;
	color: rgba(214, 63, 9, 1);
	color: hsla(15, 91%, 43%, 1);
}
.ivory{
	color: #E2DDD2;
	color: rgba(226, 221, 210, 1); 
	color: hsla(41, 21%, 85%, 1); 
}
.light-blue{
	color: #6E7BAE; 
	color: rgba(110, 123, 174, 1); 
	color: hsla(227, 28%, 55%, 1);
}
.dark-navy{
	color: #423B4B; 
	color: rgba(66, 59, 75, 1); 
	color: hsla(266, 11%, 26%, 1); 
}
.dark-skin{
	color: #C79578; 
	color: rgba(199, 149, 120, 1);
	color: hsla(22, 41%, 62%, 1);
}
.carol{
	color: #BF4A3F; 
	color: rgba(191, 74, 63, 1); 
	color: hsla(5, 50%, 49%, 1);
}
.chalk-dark{
	color: #444247;
	color: rgba(68, 66, 71, 1);
	color: hsla(263, 3%, 26%, 1);
}
.tan{
	color: #D4C09C;
	color: rgba(212, 192, 156, 1);
	color: hsla(38, 39%, 72%, 1);
}
.rush-skin{
	color: #D7967A;
	color: rgba(215, 150, 122, 1);
	color: hsla(18, 53%, 66%, 1);
}

/*background-color*/
.navy-blue-bg {
	background-color: #393C91;
	background-color: rgba(57, 60, 145, .90);
	background-color: hsla(237, 43%, 39%, .90);
}
.beaver-bg {
	background-color: #D73F09;
	background-color: rgba(214, 63, 9, .90);
	background-color: hsla(15, 91%, 43%, .90);
}
.ivory-bg{
	background-color: #E2DDD2;
	background-color: rgba(226, 221, 210, .90); 
	background-color: hsla(41, 21%, 85%, .90); 
}
.light-blue-bg{
	background-color: #6E7BAE; 
	background-color: rgba(110, 123, 174, .90); 
	background-color: hsla(227, 28%, 55%, .90);
}
.dark-navy-bg{
	background-color: #423B4B; 
	background-color: rgba(66, 59, 75, .90); 
	background-color: hsla(266, 11%, 26%, .90); 
}
.dark-skin-bg{
	background-color: #C79578; 
	background-color: rgba(199, 149, 120, .90);
	background-color: hsla(22, 41%, 62%, .90);
}
.carol-bg{
	background-color: #BF4A3F; 
	background-color: rgba(191, 74, 63, .90); 
	background-color: hsla(5, 50%, 49%,.90);
}
.chalk-dark-bg{
	background-color: #444247;
	background-color: rgba(68, 66, 71, .90);
	background-color: hsla(263, 3%, 26%, .90);
}
.tan-bg{
	background-color: #D4C09C;
	background-color: rgba(212, 192, 156, .90);
	background-color: hsla(38, 39%, 72%, .90);
}
.rush-skin-bg{
	background-color: #D7967A;
	background-color: rgba(215, 150, 122, .90);
	background-color: hsla(18, 53%, 66%, .90);
}

/* anchors */
a {color: #D73F09;} /*light-pink*/
a:link {color: #D73F09;} /*text in header and normal link -- navy-blue*/
a:hover {color: #D73F09;} /*cursor changes to pointer -- light-pink*/
a:active {color: #393C91;} /*un-clicked link -- green*/
a:visited {color: #393C91;} /*clicked link -- tan */
a img {border:0 solid transparent;}

/* navigation */
nav {
    text-align: center;
	margin-top: -80px;
	/*margin-bottom: 20px;*/
	position: relative;
	z-index: 10;
}
nav ul { 
	padding: 0;	
	margin: 10px;
	}
nav li {list-style-type: none;}
nav a {
    background-color: #BF4A3F;
    color: #393C91; /*text color don't have anything*/
    display: block;
    font-size: 100%;
    margin: 2%;
    padding: 0;
    text-decoration: dotted red;
	position: sticky;
}
nav i[onclick] {cursor:pointer;}
nav a:hover {
    background-color: #393C91;
    color: #D73F09;
	/* Transition */
    -webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
	position: sticky;
}

#share a {
	/*display:inline;*/
	background-color: #BF4A3F;
	padding: 2%;
} 
#share a:hover {
	background-color:#E2DDD2;
}
.socicon-facebook {color: #3e5b98;}
.socicon-instagram {color: #000000;}
.socicon-twitter {color: #4da7de;}
.socicon-youtube {color: #e02a20;}
	/**/
nav#articles a:hover i {
  -webkit-transform: scale(2.0) translateY(50px);
     -moz-transform: scale(2.0) translateY(50px);
       -o-transform: scale(2.0) translateY(50px);
      -ms-transform: scale(2.0) translateY(50px);
          transform: scale(2.0) translateY(50px);
}
/*drop down menu*/
.parent {
    list-style-type:none;
    margin:0;
    padding:0;

}
.parent a {
    display:block;
    margin:0;
    line-height:1;
    white-space:pre-wrap;
	/* add embellishments */
    background-color: #E2DDD2;
	border: 2px #D73F09;
    border-radius: 20px;
   /* text-decoration:none;
    border: none;
    border-radius: none;
    box-shadow: none;
    font-family:;
    font-weight:;
    font-size:;
    padding:;
    text-shadow:;
    text-transform:;
    transform:;
    transition:;*/
	
}
#articles .parent li {
    flex:1;
    justify-content: space-around;
    align-self:flex-end;
    align-items:baseline;
    position:relative;
    margin:0;
    padding:0;
}

/*Add specific anchor declarations for each menu set*/
#articles  .parent a {padding-bottom:10px;}
#share  .parent a {}
#other .parent a {}
.parent li:hover .children {display:block;}

#share, #other {
	
  padding-top: 10px;
  margin-top:10px;
  /*background-color:;*/
}
#other, #share .parent {display:block;}

#other, #share .parent li {position:relative;}

.children {
    margin:0;
    padding:20px; /* indent the child menu so it is obviously with the parent */
    width:80%; /* use less width than parent */
    list-style-type:none;  
}
.children a {
    border-left:10px solid #D73F09;
    }
.parent a:hover {
    color: #D73F09;
    background-color: #6E7BAE;
    border-radius:20px 20px 90px 90px ;
	border-color:#423B4B
   
    /*box-shadow:;
    text-shadow:;
    transform:;
    transition:;*/
}
.menu-toggle {
    background-color:#D73F09;
    color:#E2DDD2;
    cursor: pointer;
    margin:0 0 10px 0;
    padding:.5%;
	white-space:nowrap; 
    width:50px;
    border:1px solid lightgray;
    border-radius:4px;
}
.menu-toggle:hover {/* Use your own design. */}

.menu-toggle:active,
.menu-toggle.toggled-on {/* Use your own design. */}
.parent {display:none;}
.parent > ul {display: none;}
.parent.toggled-on,
.menu-toggle {display: block;}

/* page layout blocks */
#wrapper {  
  -webkit-display:flex;
  display: flex;
  -webkit-flex-flow: row wrap;  
  flex-flow: row wrap; /* direction and wrap options */
  margin:80px auto;
  padding:0;
  max-width:2000px;
  min-width:320px;
  position: sticky;
}

#wrapper > * {
    flex: 1 100%;  
    text-align:center;
	  position: sticky;
}


/*Vertical Icon bar*/
.icon-bar {
  width: 90px; /* Set a specific width */
  /*background-color: #555;  Dark-grey background */
  margin: 0 auto;
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 30px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  /*color: white;  White text color */
  font-size: 36px; /* Increased font-size */

}

.icon-bar a:hover {
  /*background-color: #000;  Add a hover color */
}

.active {
  /*background-color: #4CAF50;  Add an active/current color */
}
header {
	text-align:center;
	margin:0;
	padding:30px 0 0 0;
}
header a img {border:0;}
header a:hover {
	background-color:transparent;
	transform: translateY(40px);
	}
header p {
    font-size: 80%;
    font-weight: bold;
    margin:15px;
    }
#maa{
		height: 50px;
		width: auto;
	}
#judo, #kendo, #karate, #taekwondo {
		height:50px;
		width: auto;
	}



.drop-shadow {
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3,Color='#f9e9e9')";
   filter: url(#drop-shadow);
   -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
   filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
}
article, aside, footer {
   margin:5%;
   padding:2%;
}
article {}
aside {}
footer {text-align:center;}
footer li {
	display:-moz-inline-stack; /* for older versions of FireFox */
	display:inline-block;      /* for compliant browsers */
	zoom:1;                    /* for IE 7 */
	*display:inline;           /*for IE 6, 7, 8, 9*/
}
article, footer, #share {
    margin-bottom:5%;
    }
/* typography */
p {text-align: left;}
ol, ul, dl {}
ul, ol {overflow:hidden;}
nav ul {overflow:initial;}
li {}
dt {font-style: italic;}
dd {font-size: 90%;}
address {font-weight:bold;}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Aclonica', georgia, cursive;
	font-weight: bold;
	margin:0;
	padding:0;
}
h1 {font-size:175%;}
h2 {font-size:150%;}
h3 {font-size:125%;}
h4 {font-size:100%;}
h5 {font-size:75%;}
h6 {font-size:50%;}

/* tables */
/* table */
table {
	width:100%;
    border-collapse:collapse;
	margin: 10px;
}
caption {text-align: left;}
thead {}
td {
	padding:1%;
	position: relative;
}
#skills th:nth-child(1) {
   text-align:right;
   width:25%;
}
tbody, th {
	border-bottom: 2px solid #EDD7B4;
	padding: 10px;
	}
td[colspan] {
	/*border-bottom: 2px solid #393C91;*/
	/*border-right: 2px solid #393C91;
	background-color: rgba(57, 60, 145, 1); using .angled-gradient*/
		-webkit-border-radius: 0 100px 0 0;
			border-radius: 0 100px 0 0;
}
td[colspan]:hover {
    animation: expand 1s 1;
    }
    @keyframes expand {
      0% {
        transition: 1s linear all;
        transform: scaleX(.5);
        transform-origin: left;
        }
      100% {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
/*tbody {}*/
tfoot {display:none;}
tr {border-bottom:2px solid #EDD7B4;}
th {
	padding: 1%;
	border-bottom:2px solid #EDD7B4;
}
th[role="columnheader"] {cursor:pointer;}
th[role="columnheader"]:after {
    content:" ⇳";
}

#skills th[role="columnheader"]:nth-child(1),
#skills th[role="columnheader"]:nth-child(3),
#skills th[role="columnheader"]:nth-child(4),
#skills th[role="columnheader"]:nth-child(5)
 {
  cursor:text;
}

#skills th[role="columnheader"]:nth-child(1):after,
#skills th[role="columnheader"]:nth-child(3):after,
#skills th[role="columnheader"]:nth-child(4):after,
#skills th[role="columnheader"]:nth-child(5):after{
  content:" ";
}
/* forms */
.confirmation,
.tryagain {
  background-color:white;
  font-size:120%;
  font-weight:bold;
  max-width:300px;
  padding:2%;
  position:absolute;
  top:10%;
  left:20%;
  z-index:999;
  }
.confirmation  {
  border:2px solid green;
  color:green;
}
.tryagain  {
  border:2px solid red;
  color:red;
}
form {
	text-align: left;
	margin-bottom: 50px;
	padding: 2%;
	
}
form p {text-align:left;}
fieldset {
	position:relative;
	margin-top:2%;
	padding: 2%;
}
legend {
	background-color: #53643D;
	border: 2px solid #53643D;
}
label {
	display:block;
	display:-moz-inline-stack; /* for older versions of FireFox */
	display:inline-block;      /* for compliant browsers */
	zoom:1;                    /* for IE 7 */
	*display:inline;           /*for IE 6, 7, 8, 9*/
	margin: 5%  0  1%  0;/*margin:5%;*/
}
label.required:after {content:" *";}
label input[type="checkbox"],
label input[type="radio"] {
  display:inline!important;
  display:-moz-inline-stack; /* for older versions of FireFox */
	display:inline-block;      /* for compliant browsers */
	zoom:1;                    /* for IE 7 */
  font-size: 0.8em;
}
input {
  font-family:'Delius', Arial, sans-serif;
  padding:2%;
  font-size: 0.8em;
}
textarea {
	font-family:'Delius', Arial, sans-serif;
	height:100px;
	padding:2%;
	width:95%;
	font-size: 0.8em;
}
select {
	font-family:'Delius', Arial, sans-serif;
	font-size: 0.8em;
}
option {}
input:focus,
textarea:focus {
	background-color: hsla(36, 61%, 81%, .95);
	outline:tan;
	border:2px solid white;
}
input:required,
textarea:required,
select:required {
	border:2px solid green;
}

/* media */
figure {
	width:100%; 
	padding:0;
	border: 0px solid black;
	margin: 0;
	/*margin: 0 0 2% 0;
	padding: 2%;
	background-color: rgb(, , , .75);*/
	}
figcaption {
	font-size:100%;
	text-align:left;
	/*display:block;*/
	display:-moz-inline-stack; /* for older versions of FireFox */
	display:inline-block;      /* for compliant browsers */
		zoom:1;                    /* for IE 7 */
		*display:inline;           /*for IE 6, 7, 8, 9*/
	margin-bottom:10%;
	padding: 10px;
	vertical-align: middle;
}
img {width:100%; margin:0; padding:0;}
a img {
	border:0 solid transparent;}

  
video, iframe, object, embed {
 width:100%;  
 height:320px;
}

iframe {
 border:0 #393C91;
 /*border-radius:10px 0 0 0;
 padding: 0 0 10px 10px;*/
}
iframe.movie {}

audio { 
	width:50%;
	height:30px;}
	/*background photos*/
	
/* embellishments */
.radius {
	  -webkit-border-radius: 10px 10px 3px 3px;
          border-radius: 50px 50px 0 0 ;
}
.circle {
	   -webkit-border-radius: 50%;
           border-radius: 50%;
}
.boxshadow {
	  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,.50);
          box-shadow: 2px 2px 5px 1px rgba(0,0,0,.50);
}
.tshadow {
	text-shadow: 1px 1px 1px #999;
}
.gradient {
   background: -moz-linear-gradient(90deg, #FFFFFF 0, #E8E8E8 97%);/* FF3.6+ */
   background: -webkit-gradient(linear, 90deg, color-stop(0, FFFFFF), color-stop(97%, E8E8E8));/* Chrome,Safari4+ */
   background: -webkit-linear-gradient(90deg, #FFFFFF 0, #E8E8E8 97%);/* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(90deg, #FFFFFF 0, #E8E8E8 97%);/* Opera 11.10+ */
   background: -ms-linear-gradient(90deg, #FFFFFF 0, #E8E8E8 97%);/* IE10+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
   background: linear-gradient(90deg, #FFFFFF 0, #E8E8E8 97%);/* W3C */
}
.diagonal-gradient {
  background: linear-gradient(to bottom right, #803C69, #C95F99);
}
.color-hint {
  background: linear-gradient(#393C91, 85%, #8C4D5E);
}
.colorhint-gradient {
  background: linear-gradient(to top, white, 80%, black); /*light-pink to dark-pink*/
}
.angled-gradient {
  background: linear-gradient(98deg, #BF4A3F, #6E7BAE);
}
.striped { 
   background: linear-gradient(to bottom left, #393C91 70%, #FEC4D9 30%); 
}
.radial-ellipse-far {
  background: radial-gradient(ellipse farthest-corner at 90% 90%,
      #AA8490, #8C4D5E 20%, #8C4D5E 50%, #8C4D5E);
}
.shape {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.conic-gradient {
  background: conic-gradient(from 75deg, #6B9E4A, #FFFFFF, #6B9E4A, #FFFFFF, #6B9E4A, #FFFFFF);
}
.move {
   -webkit-backface-visibility: hidden;
   -webkit-transform: translateZ(5);
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
}

/*for icons*/
.material-icons.md-18 {font-size: 18px;}
.material-icons.md-24 {font-size: 24px;}
.material-icons.md-36 {font-size: 36px;}
.material-icons.md-48 {font-size: 48px;}
.material-icons.black {color:black;}
.material-icons {font-feature-settings: 'liga';} /* Support for IE. */

/*masonry*/
.masonry {
  line-height: 1;   /* 0 Prevents vertical gaps */
  -webkit-column-count: 1;
  -webkit-column-gap:   10px;
  -moz-column-count:    1;
  -moz-column-gap:      10px;
  -ms-column-count:     1;
  -ms-column-gap:       10px;
  column-count:         1;
  column-gap:           10px;
}
.masonry figure {  
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
              page-break-inside: avoid; /* Firefox */
                   break-inside: avoid; /* IE 10+ */
}
.masonry img {
    width: 100%;
    height: auto;
	column-gap: 15px;
	-webkit-border-radius: 10px 10px 3px 3px;
    border-radius: 10px 10px 3px 3px;
}
.masonry figcaption {
    display:block;
    font-size:70%;
	border-radius: 10px 10px 3px 3px;
}
blockquote {
    font-size: 100%;
    font-style: italic;
    width: 80%;
    line-height: 1.5;
    position: relative;
    color: #D73F09;
    text-align:left;
    padding:10px;
	margin: 20px;
}
blockquote:before {
    display: block;
    content: "“";
    font-size: 400%;
    position: absolute;
    left: -20px;
    top: -30px;
    color: black;

}
blockquote:after {
    color: black;
    content: "”";
    display: block;
    font-size: 400%;
    position: absolute;
    right: 0;
    bottom: 10px;
	margin-top:20px;
}
blockquote cite {
    color: black;
    font-size: 17px;
    display: block;
    text-align: right;
    margin-top:-10px;
	margin-left: 30px;
}
.two-values{
	border-radius: 50px 0 50px 0;
}
cite:before {content:"— ";}
/*q {display:inline; font-style:italic;}
q:before { content: open-quote;}
q:after {content: close-quote;}*/

.parallax { /*prepare the viewport  
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
  perspective: 300px;*/
}

.parallax__group { /* position groups relatively */
	position: relative;
	height:100vh;
	transform-style: preserve-3d;
}

.parallax__layer {/*expand each group's layer to the edges of the viewport */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--fore { /* furthest layer */
	transform: translateZ(90px) scale(0.3);
	z-index:1;
}

.parallax__layer--deep { /* back middle layer */
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}


.parallax__layer--back { /* front middle layer */
	transform: translateZ(-300px) scale(2);
	z-index:3;
}

.parallax__layer--base { /* top layer */
	transform: translateZ(0);
	z-index:4;
}

/* screen one 
#group1 {z-index: 5;}
#group1 .parallax__layer--base {background:rgba(170, 3, 87, .8);}

#group2 {z-index:3;}
#group2 .parallax__layer--back {
		background: 
		url(../animation/characters/valley-morning-13-bg1.jpg) 0 50px repeat-x, 
		url(../animation/characters/cloud.png) no-repeat;
}

#group3 {z-index:4;} 
#group3 .parallax__layer--base {background:rgba(170, 114, 3, .8);}

#group4 {z-index:2;}
#group4 .parallax__layer--back {
		background: 
		url(../animation/characters/valley-morning-bg.jpg) 0 50px repeat-x, 
		url(../animation/characters/cloud2.png) no-repeat;
}

#group5 {z-index:3;} 
#group5 .parallax__layer--base {background:rgba(112, 170, 3, .8);}
*/


/* character positions */
.martial {
	position:absolute;
	bottom:-5px;
}



/*==================================== TABLET media query changes ===========================================================================*/
@media all and (min-width: 600px) {
	/*body {background-image: url(imgs/maa-join-wb-600.jpg);}*/

#wrapper {  
  -webkit-display:flex;
  display: flex;
  -webkit-flex-flow: row wrap;  
  flex-flow: row wrap; /* direction and wrap options */
  margin:80px auto;
  padding:0;
  max-width:2000px;
  min-width:320px;
}

#wrapper > * {
    flex: 1 100%;  
    text-align:center;
}
	h1 {font-size:200%;}
	h2 {font-size:175%;}
	h3 {font-size:150%;}
	h4 {font-size:120%;}
	h5 {font-size:110%;}
	h6 {font-size:100%;}
	

			/* The hero image */
	.hero-image {
	  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("photos/wider-maa-dixon-600.jpg");
	  height: 400px;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
	  z-index: 0;
	}
	.hero-text {
		  text-align: left;
		  position: absolute;
		  top: 50%;
		  left: 30%;
		  transform: translate(-20%, 10%);
		  color: #D73F09;
	}

	header p {
		margin: 70px;
	}

	header a:hover {
		margin: -100px;
	}

	#maa {
			height: 80px;
			width: auto;
			transform: translateX(50px) translateY(70px);
	}
	#judo, #kendo, #karate, #taekwondo {
			/*transform: translateY(-50px);*/
			margin:-50px auto 0 auto;
			display:block;
		}
	.material-icons{
			font-size: 50px;
		}
	.parent {
	  display:flex!important;
	  text-align:center;
	  align-items:center;
	  justify-content:column;
	  height:20px;
	}
	.parent li:hover .children {display:block;}
	.children {
		display:none;  /* hide */
		padding:0;     /* remove indent so child lines up with parent */
		position:absolute;  /*navs start to jump when I put concur on them*/
		z-index:999;
		width:auto;
    }

	#other .children,
	#share .children {
	   margin:-15px 0 0 80px;  
	   min-width:80px;
	   max-width:120px;
	   height: 60%;
	}
	.parent > ul  {display: block !important;}
	.menu-toggle {display: none; }
	
	.masonry {
		-webkit-column-count: 2;
		-moz-column-count:    2;
		column-count:         2;
	}
	video, iframe, object, embed {
	 width:100%;  
	 height:640px;
	}
		.drop-shadow {
	   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3,Color='#f9e9e9')";
	   filter: url(#drop-shadow);
	   -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
	   filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
	}
	fieldset {margin-bottom:5%; width: 90%;}
	/*legend {
		position:absolute;
		left:0px;
		top:-10px;  place of form label, negative is outside of box, positive is inside.
		white-space:nowrap;
	}*/
	.alignleft   {float:left; margin:0 2% 0 0;}
	.aligncenter {text-align:center; margin:0 auto;}
	.alignmiddle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	}
	.alignright  {float:right; margin:0 0 0 2%;}
	.clear       {clear:both;}
	.clearright  {clear:right;}
	.clearleft   {clear:left;}
	
	.fifty  {width:50%;}/*more of percentages*/
	.thirty {width:30%;}
	.sixty {width: 60%;}
	.eighty {width:80%;}
	textarea {
		font-family: 'Port Lligat Sans', Arial, sans-serif;
		height:200px;
		padding:2%;
		width: 100%;
	}
}

/*==================================== DESKTOP  media query changes ===================================================================*/
@media all and (min-width: 1080px) {
	/*body {background-image: url(imgs/maa-join-wb-1080.jpg);}*/

	main   {flex: 4 auto; } /* 2 times as wide as the other two columns */
	#share, #other {flex: 1 auto; margin:200px auto;}

	/* Order the columns */
	#share {order: 1; max-width: 20%;}
	main   {order: 2; max-width: 60%;}
	#other {order: 3; max-width: 20%;}
	h1 {font-size:300%;}
	h2 {font-size:250%;}
	h3 {font-size:150%;}
	h4 {font-size:150%;}
	h5 {font-size:125%;}
	h6 {font-size:100%;}
	#articles li {
	display:-moz-inline-stack; /* for older versions of FireFox */
	display:inline-block;      /* for compliant browsers */
	zoom:1;                    /* for IE 7 */
	*display:inline;           /*for IE 6, 7, 8, 9*/	}
	#articles a {
		min-width:auto;
		max-width:200px;
	}
	#articles a i {display:block;}

	/* The hero image */
	.hero-image{
		background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("photos/wider-maa-dixon-1080.jpg");
		height:350px;
		}
	.hero-text img{
		transform: scale(2);
	}
	header p {
		margin: 70px;
		text-align: center;
	}
	#maa{
		height: 100px;
		transform: translateX(50px) translateY(60px);
	}
	#judo, #kendo, #karate, #taekwondo {
		/*transform: translateY(-50px);*/
		margin:-50px auto auto auto;
		display:block;
	}
	.parent {
		margin:0 10%;
        padding:5%;
        }
	.masonry {
		 -webkit-column-count: 3;
		 -moz-column-count:    3;
		 column-count:         3;
	}
		.drop-shadow {
	   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3,Color='#f9e9e9')";
	   filter: url(#drop-shadow);
	   -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
	   filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
	}
	legend {top:-30px;}	
	input {
		font-family: 'Port Lligat Sans', Arial, sans-serif;
		padding:2%;
	}
	label input[type="checkbox"],
	label input[type="radio"] {
		display:inline!important;
	}
	textarea {
		font-family: 'Port Lligat Sans', Arial, sans-serif;
		height:200px;
		padding:2%;
		width: 100%;
	}
	select {font-family:'Port Lligat Sans', georgia, cursive;}	
}

/*==================================== PRINT  media query changes ========================================================================*/
@media print {
	body {font-size:10pt;}
	h1 {font-size:350%;}
	h2 {font-size:250%;}
	h3 {font-size:200%;}
	h4 {font-size:150%;}
	h5 {font-size:125%;}
	h6 {font-size:100%;}
	h1, h2, h3, h4, h5, h6 {margin:20pt 0 0 0; padding:0;}
	nav {display:none;}
	address p {display:inline;}
	
	header p {
    font-size:10pt;
    font-weight: bold;
    margin:0;
    }
	#contact {display:none;}   /* Hide form.*/
	.scroll  {display:none;}   /* Hide link to the form at the bottom. */
	#about address:after {             /* Replace link with email address.*/
		display:block;
		content:"gaoyu@oregonstate.edu";
	} 
	#about a[href]:after {   /*Display web address */
		display:block;
		content:  attr(href) "↗  ";
	}
	
	address p i {
		font-size:8pt!important;
	}
	footer ul a[href]{display:none;}
		.alignright {float:right; width:50%; margin:0 0 0 10pt;}
		.alignleft  {float:left;  width:50%; margin:0 10pt 0 0;}
		.clear      {clear:both;}
		article, aside, header {margin:0; padding:0; border:0;}
		.boxshadow {box-shadow:none;}
		.white{color:black;}
		tbody, th  {border-bottom:2px solid lightgray;}
		td[colspan] {
			border-bottom:2px solid lightgray;
			border-right:2px solid lightgray;
			background-color:lightgray;
	}
	aside.fifty figure.thirty {width:30%;}
	img.shape,
	img.boxshadow {box-shadow:none;}
	iframe, video, audio {display:none;}

	#maa, #judo, #kendo, #karate, #taekwondo {display:none;}
	#combo {
		display:block; /* or inline */
		height:1.5in;   /* some value of inches, like 1 or 1.5 */
		width:auto;    /* proportional to the height. */
		margin:0 auto; /* centers the image file */
	}
	.drop-shadow {
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3,Color='#ffffff')";
		filter: url(#drop-shadow);
		-webkit-filter: drop-shadow(3px 3px 3px rgba(255,255,255,1));
		filter: drop-shadow(3px 3px 3px rgba(255,255,255,1));
	}
	.masonry {display:none;}

	.slidebox,
	.slidebox img {display:none;}
	article#education dl.alignright {float:none;}
	article#education dl.fifty {width:100%;}
	article#work dl.alignright {float:none;}
	article#work dl.fifty {width:100%;}
	.parent > ul  {display: block !important;}
	.menu-toggle {display: none; }
}