body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf8f5;
}

a{
    text-decoration: none;
}
.header {
    background-color: #fcf8f5;
    height: 80px;
    margin: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header .navlist{
    float: left;
    list-style-type: none;
    margin: 0px;
    padding-left: 40px;
}

.navlist li{
    float: left;
    line-height: 80px;
    padding-right: 40px;
    font-family: Georgia, serif;
}

.navlist .active a{
    color: #fccb96;
}

.navlist a{
    color: #130d4c;
}

.navlist a:hover{
    color: #fccb96;
}

.header .medialist{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding-right: 20px;
}

.medialist li{
    float: left;
    line-height: 80px;
    padding-right: 30px;
}

.title{
    background-color: #fccb96;
    height: 80px;
    color: #130d4c;
} 

.title h1{
    margin: 0px;
    line-height: 80px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container .picture{
    width: 100%;
}

.picContainer{
    display: flex;
}

.picContainer .pict{
    width: 100%;
    cursor: pointer;
}

.break{
    height: 100px;
}

.break1{
    height: 10px;
}

hr{
    width: 20%;
    border: 2px solid #130d4c;
}

.classes,
.about-us{
    width: 60%;
    height: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    color: #130d4c;
}

.classes p,
.about-us p{
    margin: auto;
    margin-top: 50px;
    width: 70%;
    text-align: center;
}

.classContainer{
    display: flex;
    padding: 0px 40px;
}

.classContainer .block{
    padding-top: 20px;
    height: 300px;
    width: 100%;
    background-color: #fccb96;
    text-align: center;
    color: #130d4c;
}

.classContainer img{
    width: 390px;
    height: 219.38px;
}

.one{
    border-right: 1px #130d4c solid;
}

.contact{
    background-color: #130d4c;
    height: 300px;
    display: flex;
    padding: 70px 0px;
    
}

.Part{
    width: 100%;
    color: white;
    padding-left: 100px;
}

.firstPart{
    border-right: 1px #fccb96 solid;
}

.input_part{
    display: inline-block;
    background-color: #fccb96;
}

.input_part #Email{
    background-color: #130d4c;
    padding-left: 15px;
    font-size: 15px;
    height: 35px;
    width: 200px;
    border: 1px #fccb96 solid;
    color: white;
    margin-right: 0px;
}

::placeholder {
    color: white;
}

.input_part .subButton{
    margin-left: 0px;
    height: 37px;
    width: 150px;
    font-size: 20px;
    border: 1px #fccb96 solid;
    background-color: #fccb96;
    color: #130d4c;
}

.firstPart .medialist2{
    position: relative;
    list-style-type: none;
    right: 40px;
}

.medialist2 li{
    float: left;
    line-height: 80px;
    padding-right: 30px;
}

.secondPart input{
    background-color: #130d4c;
    border: none;
    height: 70px;
}

.secondPart #name,
.secondPart #phone_number{
    border-bottom: 1px #fccb96 solid;
    width: 250px;
    margin-right: 20px;
    color: white;
}

.secondPart #subject,
.secondPart #question{
    border-bottom: 1px #fccb96 solid;
    width: 530px;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    background: #fcb86f;  
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #f39a3c;  
}